@font-face {
  font-family: 'bebas';
  src: url("../fonts/BEBAS___-webfont.eot") format("embedded-opentype"), url("../fonts/BEBAS___-webfont.ttf") format("truetype"), url("../fonts/BEBAS___-webfont.woff") format("woff"), url("../fonts/BEBAS___-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'opensans_regular';
  src: url("../fonts/opensans_regular/OpenSans-Regular-webfont.eot");
  src: url("../fonts/opensans_regular/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans_regular/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/opensans_regular/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/opensans_reguular/OpenSans-Regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'opensans_light';
  src: url("../fonts/opensans_light/OpenSans-Light-webfont.eot");
  src: url("../fonts/opensans_light/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans_light/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/opensans_light/OpenSans-Light-webfont.ttf") format("truetype"), url("../fonts/opensans_light/OpenSans-Light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'opensans_italic';
  src: url("../fonts/opensans_italic/OpenSans-Italic-webfont.eot");
  src: url("../fonts/opensans_italic/OpenSans-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans_italic/OpenSans-Italic-webfont.woff") format("woff"), url("../fonts/opensans_italic/OpenSans-Italic-webfont.ttf") format("truetype"), url("../fonts/opensans_italic/OpenSans-Italic-webfont.svg#open_sansitalic") format("svg");
  font-weight: normal;
  font-style: normal; }
section {
  padding: 60px 0; }

a {
  text-decoration: none;
  color: #f1f2f2; }
  a:hover {
    text-decoration: none; }

.page-icon {
  height: 80px;
  width: 80px;
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5); }

.right-arrow {
  width: 20px;
  margin-left: 12px;
  margin-bottom: 3px;
  fill: #f1f2f2; }

h1, h2, h3 {
  font-family: "bebas", Helvetica, Arial, sans-serif; }

h4, h5, h6, p {
  font-family: "opensans_regular", Helvetica, Arial, sans-serif; }

.game-footer {
  border-radius: 30px;
  font-size: 18px;
  padding: 8px 17px;
  border: 3px solid #f1f2f2;
  float: right;
  font-family: "bebas", Helvetica, Arial, sans-serif; }
  .game-footer:hover {
    border: 2px solid #1b75bb;
    background-color: #1b75bb;
    color: #f1f2f2;
    transition: all 0.25s ease-in-out; }
    .game-footer:hover .right-arrow {
      fill: #f1f2f2; }

.modal-content-intro, .modal-content-completion {
  text-align: center;
  background-color: rgba(25, 25, 25, 0.25);
  color: #f1f2f2;
  height: 100vh; }

.modal-intro-dialog {
  margin: 0; }

.modal-content-intro {
  background-color: transparent;
  margin: 0;
  padding: 0; }

.modal-intro-image {
  height: 768px;
  width: 1024px; }

.modal-intro-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; }
  .modal-intro-content-container a {
    font-size: 24px;
    font-family: "bebas", Helvetica, Arial, sans-serif; }
    .modal-intro-content-container a .right-arrow {
      width: 30px;
      position: relative; }
    .modal-intro-content-container a:hover, .modal-intro-content-container a:active, .modal-intro-content-container a:focus, .modal-intro-content-container a:active:focus {
      position: relative;
      transition: all 0.25s ease-in-out;
      color: #f1f2f2; }
      .modal-intro-content-container a:hover .right-arrow, .modal-intro-content-container a:active .right-arrow, .modal-intro-content-container a:focus .right-arrow, .modal-intro-content-container a:active:focus .right-arrow {
        left: 5px; }

.modal-completion-logo {
  margin-bottom: 80px;
  margin-top: 65px; }

.modal-intro-title {
  font-size: 62px;
  margin-bottom: 0; }

.modal-completion-subtitle {
  margin-top: 30px;
  margin-bottom: 50px; }

.modal-completion-text {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 20px;
  font-family: "opensans_light", Helvetica, Arial, sans-serif; }

.modal-completion-instructions {
  font-family: "opensans_italic", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-top: 40px; }

.modal-backdrop {
  background-color: #1b75bb; }

.modal-lg {
  width: 1024px;
  height: 768px; }

.modal-open .modal {
  overflow-x: visible;
  overflow-y: visible; }

.trivia-modal-container {
  top: 100px;
  left: 290px;
  z-index: 2000;
  position: absolute; }

.modal-backdrop {
  background-color: #212121; }

.modal-trivia-dialog {
  margin: 0; }

.modal-trivia-content {
  background-color: #1b75bb;
  color: #f1f2f2;
  border-radius: 0px;
  padding: 30px 50px;
  height: 100%;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: none;
  border: none; }

.clueNumber {
  z-index: 9999;
  margin-top: 0;
  display: flex;
  left: -62px;
  width: 60px;
  height: 60px;
  position: absolute;
  background: #f1f2f2;
  color: #1b75bb;
  border-radius: 50%;
  font-size: 24px;
  align-items: center;
  justify-content: center; }

.question {
  font-size: 24px; }

.options {
  list-style-type: none;
  padding-left: 0; }

.btn-group-vertical > .btn:first-child:not(:last-child) {
  border-radius: 4px; }

.btn-group-vertical > .btn:not(:first-child):not(:last-child) {
  border-radius: 4px; }

.btn-group-vertical > .btn:last-child:not(:first-child) {
  border-radius: 4px; }

.btn-group-vertical > .btn {
  width: 320px; }

.modal-trivia-button {
  margin-top: 7px;
  margin-bottom: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-size: 18px;
  color: #1b75bb; }

.modal-trivia-next-button {
  display: block;
  margin: 20px auto 0 auto;
  padding: 10px 25px;
  margin: 0 auto;
  font-size: 18px;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-family: "bebas", Helvetica, Arial, sans-serif;
  transition: all 0.25s ease-in-out; }
  .modal-trivia-next-button:hover, .modal-trivia-next-button:active, .modal-trivia-next-button:focus, .modal-trivia-next-button:focus:active {
    color: #1b75bb;
    border-color: #f1f2f2; }
    .modal-trivia-next-button:hover .right-arrow, .modal-trivia-next-button:active .right-arrow, .modal-trivia-next-button:focus .right-arrow, .modal-trivia-next-button:focus:active .right-arrow {
      fill: #1b75bb; }

.modal-trivia-next-button .right-arrow {
  fill: #f1f2f2;
  margin-left: 5px;
  margin-bottom: 3px; }

.map-container {
  position: relative;
  background-image: url(../img/background-map@2x.png);
  background-size: 1024px 768px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center; }

.magic-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1500; }

.homepage-game-icon, .homepage-complete-icon {
  width: 57px;
  position: fixed; }

.homepage-complete-icon {
  opacity: 0.8; }

.game-btn {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: all 0.25s ease-in-out; }

.game-btn-waiting:hover {
  background-color: white;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.9); }

.game-btn-complete {
  background-color: green; }
  .game-btn-complete:hover {
    background-color: white;
    color: green;
    border: 2px solid green; }

.btn-1 {
  top: 370;
  right: 150; }
  .btn-1 .homepage-game-icon {
    top: 370;
    right: 150; }
  .btn-1 .homepage-complete-icon {
    top: 370;
    right: 150; }

.btn-2 {
  top: 370;
  right: 267; }
  .btn-2 .homepage-game-icon {
    top: 370;
    right: 267; }
  .btn-2 .homepage-complete-icon {
    top: 370;
    right: 267; }

.btn-3 {
  top: 370;
  right: 450; }
  .btn-3 .homepage-game-icon {
    top: 370;
    right: 450; }
  .btn-3 .homepage-complete-icon {
    top: 370;
    right: 450; }

.btn-4 {
  top: 315;
  left: 350; }
  .btn-4 .homepage-game-icon {
    top: 315;
    left: 350; }
  .btn-4 .homepage-complete-icon {
    top: 315;
    left: 350; }

.btn-5 {
  top: 220;
  left: 200; }
  .btn-5 .homepage-game-icon {
    top: 220;
    left: 200; }
  .btn-5 .homepage-complete-icon {
    top: 220;
    left: 200; }

.progress-meter {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  position: absolute;
  bottom: 50px;
  left: 50px;
  background-size: 75px 75px;
  background-position: center center; }

.progress-meter-icon {
  width: 75px; }

.progress-meter[data-score="0"] {
  background-image: url(../img/progress/progress-00@2x.png); }

.progress-meter[data-score="1"] {
  background-image: url(../img/progress/progress-01@2x.png); }

.progress-meter[data-score="2"] {
  background-image: url(../img/progress/progress-02@2x.png); }

.progress-meter[data-score="3"] {
  background-image: url(../img/progress/progress-03@2x.png); }

.progress-meter[data-score="4"] {
  background-image: url(../img/progress/progress-04@2x.png); }

.progress-meter[data-score="5"] {
  background-image: url(../img/progress/progress-05@2x.png); }

body {
  width: 1024px;
  height: 768px; }

.crossword-container {
  position: relative;
  background-image: url(../img/activity-01-background@2x.jpg);
  background-size: 1024px 768px;
  height: 768px;
  background-repeat: no-repeat;
  background-position: center center; }

.crossword-header {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap; }
  .crossword-header h1 {
    display: inline-block;
    margin-top: 0;
    font-size: 32px; }
  .crossword-header p {
    font-style: italic; }
  .crossword-header .page-title {
    display: inline-block;
    margin-left: 20px; }

.crossword-footer {
  position: absolute;
  bottom: 40px;
  right: 10px; }

.crosswordModal {
  position: absolute;
  top: 200;
  left: 200; }

.crossword-clue-1 {
  position: absolute;
  top: 101px;
  right: 319px; }

.crossword-clue-2 {
  position: absolute;
  top: 146px;
  right: 82px; }

.crossword-clue-3 {
  position: absolute;
  top: 191px;
  left: 186px; }

.crossword-clue-4 {
  position: absolute;
  top: 191px;
  right: 455px; }

.crossword-clue-5 {
  position: absolute;
  top: 236px;
  left: 369px; }

.crossword-clue-6 {
  position: absolute;
  top: 281px;
  left: 309px; }

.crossword-clue-7 {
  position: absolute;
  top: 281px;
  left: 457px; }

.crossword-clue-8 {
  position: absolute;
  top: 371px;
  left: 179px; }

.crossword-clue-9 {
  position: absolute;
  top: 371px;
  right: 278px; }

.crossword-clue-10 {
  position: absolute;
  left: 98px;
  bottom: 138px; }

.crossword-clue-11 {
  position: absolute;
  right: 177px;
  top: 596px; }

.crossword-down {
  width: 24px; }

.crossword-letter-across {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  display: inline;
  margin: 13px;
  padding: 0; }

.crossword-letter-down {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  height: 45px; }

.modal-data {
  visibility: hidden; }

.answer {
  visibility: hidden; }

.crossword-clue-hidden {
  margin-left: -5000px; }

.tooltip.top {
  margin-top: -14px; }

.tooltip.left {
  margin-left: -14px; }

.tooltip.right {
  margin-left: 15px; }

.tooltip {
  font-size: 18px;
  font-family: "opensans_regular", Helvetica, Arial, sans-serif; }

.tooltip.right .tooltip-arrow {
  top: 50% !important; }

.tooltip-inner {
  border-radius: 0px; }

.tooltip-correct {
  background-color: #00a550; }

.tooltip-right-arrow-correct {
  border-right-color: #00a550 !important; }

.tooltip-top-arrow-correct {
  border-top-color: #00a550 !important; }

.tooltip-left-arrow-correct {
  border-left-color: #00a550 !important; }

.shared-letter {
  color: transparent; }

.watercycle-container {
  height: 768px;
  position: relative;
  background-image: url(../img/background-activity-02@2x.png);
  background-size: 1024px 768px;
  background-repeat: no-repeat;
  background-position: center center; }

.watercycle-header {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap; }
  .watercycle-header h1 {
    display: inline-block;
    margin-top: 0;
    font-size: 32px; }
  .watercycle-header p {
    font-style: italic; }
  .watercycle-header .page-title {
    display: inline-block;
    margin-left: 20px; }

.watercycle-footer {
  position: absolute;
  bottom: 25px;
  right: 35px; }

.draggable-widget {
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.35);
  background-color: #f1f2f2;
  position: absolute;
  right: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 14px;
  width: 160px;
  font-size: 16px;
  z-index: 999; }

.draggable-widget-content {
  margin: 0; }

.droppable-widget {
  border: 2px dotted #777777;
  position: absolute;
  width: 160px;
  height: 36px; }

.draggable-widget[data-vocab="1"] {
  top: 150px; }

.droppable-widget[data-vocab="1"] {
  top: 399px;
  right: 222px; }

.draggable-widget[data-vocab="2"] {
  top: 200px; }

.droppable-widget[data-vocab="2"] {
  top: 50px;
  right: 95px; }

.draggable-widget[data-vocab="3"] {
  top: 250px; }

.droppable-widget[data-vocab="3"] {
  top: 183px;
  right: 432px; }

.draggable-widget[data-vocab="4"] {
  top: 300px; }

.droppable-widget[data-vocab="4"] {
  bottom: 15px;
  left: 470px; }

.draggable-widget[data-vocab="5"] {
  top: 350px; }

.droppable-widget[data-vocab="5"] {
  top: 336px;
  right: 403px; }

.draggable-widget[data-vocab="6"] {
  top: 400px; }

.droppable-widget[data-vocab="6"] {
  top: 440px;
  left: 262px; }

.draggable-widget[data-vocab="7"] {
  top: 450px; }

.droppable-widget[data-vocab="7"] {
  bottom: 123px;
  right: 230px; }

.testing {
  background-color: #ff0055; }

.watercycle-icon {
  width: 13px; }

.icon-correct {
  fill: green; }

.hidden {
  visibility: hidden; }

.wateruse-container {
  height: 768px;
  position: relative;
  background-size: 1024px 768px;
  background-image: url(../img/background-activity-03@2x.png);
  background-repeat: no-repeat;
  background-position: center center; }

.wateruse-header {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap; }
  .wateruse-header h1 {
    display: inline-block;
    margin-top: 0;
    font-size: 32px; }
  .wateruse-header p {
    font-style: italic; }
  .wateruse-header .page-title {
    display: inline-block;
    margin-left: 20px; }

.wateruse-footer {
  position: absolute;
  bottom: 75px;
  right: 35px; }

.wateruse-form {
  width: 275px;
  background-color: rgba(81, 81, 81, 0.7);
  padding: 22px;
  border-radius: 7px; }

.wateruse-form-heading {
  color: #f1f2f2;
  font-size: 17px;
  margin-bottom: 30px; }

.wateruse-input {
  margin-bottom: 15px;
  border-radius: 0;
  font-size: 16px;
  box-shadow: none;
  border: none; }

.form-1 {
  position: absolute;
  top: 227px;
  left: 50px; }

.form-2 {
  position: absolute;
  top: 137px;
  left: 375px; }

.form-3 {
  position: absolute;
  top: 227px;
  right: 50px; }

.waterwheel-container {
  height: 768px;
  position: relative;
  background-size: 1024px 768px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #777777; }

.waterwheel-header {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  z-index: 2; }
  .waterwheel-header h1 {
    display: inline-block;
    margin-top: 0;
    font-size: 32px; }
  .waterwheel-header p {
    font-style: italic; }
  .waterwheel-header .page-title {
    display: inline-block;
    margin-left: 20px; }

.waterwheel-footer {
  position: absolute;
  bottom: 25px;
  right: 35px; }

.video-poster {
  width: 1024px;
  height: 768px;
  position: absolute;
  left: 0;
  top: 0; }

.waterwheel-button {
  position: absolute;
  bottom: 50%;
  left: 20%;
  text-transform: uppercase;
  background-color: #1b75bb;
  padding: 15px 20px;
  border-radius: 30px;
  color: rgba(241, 242, 242, 0.5);
  font-size: 40px;
  font-family: "bebas", Helvetica, Arial, sans-serif; }
  .waterwheel-button:hover, .waterwheel-button:active, .waterwheel-button:focus, .waterwheel-button:focus:active {
    color: rgba(241, 242, 242, 0.85);
    text-decoration: none; }
    .waterwheel-button:hover .play-button, .waterwheel-button:active .play-button, .waterwheel-button:focus .play-button, .waterwheel-button:focus:active .play-button {
      opacity: 0.85; }

.play-button {
  width: 30px;
  margin-right: 10px;
  opacity: 0.5;
  fill: #f1f2f2; }

/*# sourceMappingURL=main.css.map */
