section {
  padding: 60px 0; }

a {
  text-decoration: none;
  color: #212121; }
  a:hover {
    text-decoration: none; }

.page-icon {
  height: 55px;
  width: 55px;
  background-color: #777777;
  border-radius: 50%;
  display: inline-block; }

.right-arrow {
  width: 20px; }

.game-footer {
  border-radius: 30px;
  font-size: 20px;
  padding: 8px 14px;
  border: 1px solid black;
  float: right; }

.modal-content-intro, .modal-content-completion {
  text-align: center;
  background-color: rgba(100, 100, 100, 0.5);
  color: #f1f2f2; }

.modal-backdrop {
  background-color: #dedede; }

.modal-lg {
  width: 1024px; }

.modal-trivia-dialog {
  margin: 0;
  height: 768px; }

.modal-trivia-content {
  background-color: rgba(100, 100, 100, 0.5);
  color: #f1f2f2;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.clueNumber {
  margin-top: 0; }

.options {
  list-style-type: none;
  padding-left: 0; }

.modal-trivia-button {
  width: 100%;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
  padding-top: 12px;
  padding-bottom: 12px; }

.modal-trivia-next-button {
  display: block;
  margin: 20px auto 0 auto;
  padding: 10px 35px;
  margin: 0 auto;
  font-size: 18px;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff; }

.modal-trivia-next-button .right-arrow {
  fill: #fff; }

.map-container {
  position: relative;
  background-image: url(../img/index-background@2x.jpg);
  background-size: 1024px 768px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center; }

.magic-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1500; }

.game-btn {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  background-color: red;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute; }

.game-btn-waiting {
  background-color: red; }
  .game-btn-waiting:hover {
    background-color: white;
    color: #ff6666;
    border: 2px solid red; }

.game-btn-complete {
  background-color: green; }
  .game-btn-complete:hover {
    background-color: white;
    color: green;
    border: 2px solid green; }

.btn-1 {
  top: 370;
  right: 150; }

.btn-2 {
  top: 370;
  right: 267; }

.btn-3 {
  top: 370;
  right: 450; }

.btn-4 {
  top: 315;
  left: 350; }

.btn-5 {
  top: 220;
  left: 200; }

.crossword-container {
  position: relative;
  background-image: url(../img/activity-01-background@2x.jpg);
  background-size: 1024px 768px;
  height: 768px;
  background-repeat: no-repeat;
  background-position: center center; }

.crossword-header {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap; }
  .crossword-header h1 {
    padding-left: 20px;
    display: inline-block; }
  .crossword-header p {
    padding-left: 77px; }

.crossword-footer {
  position: absolute;
  bottom: 50px;
  right: 75px; }

.crosswordModal {
  position: absolute;
  top: 200;
  left: 200; }

.crossword-clue-1 {
  position: absolute;
  top: 91px;
  right: 320px; }

.crossword-clue-2 {
  position: absolute;
  top: 149px;
  right: 91px; }

.crossword-clue-3 {
  position: absolute;
  top: 178px;
  left: 190px; }

.crossword-clue-4 {
  position: absolute;
  top: 183px;
  right: 457px; }

.crossword-clue-5 {
  position: absolute;
  top: 230px;
  left: 375px; }

.crossword-clue-6 {
  position: absolute;
  top: 287px;
  left: 316px; }

.crossword-clue-7 {
  position: absolute;
  top: 287px;
  left: 450px; }

.crossword-clue-8 {
  position: absolute;
  top: 360px;
  left: 190px; }

.crossword-clue-9 {
  position: absolute;
  top: 360px;
  right: 257px; }

.crossword-clue-10 {
  position: absolute;
  left: 75px;
  bottom: 150px; }

.crossword-clue-11 {
  position: absolute;
  right: 200px;
  bottom: 150px; }

.crossword-down {
  width: 24px; }

.crossword-letter-across {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  display: inline;
  margin: 12px;
  padding: 0; }

.crossword-letter-down {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin: 12px; }

.modal-data {
  visibility: hidden; }

.answer {
  visibility: hidden; }

.crossword-clue-hidden {
  margin-left: -5000px; }

.tooltip.top {
  margin-top: -10px; }

.tooltip {
  font-size: 18px; }

.watercycle-container {
  width: 1024px;
  height: 768px;
  position: relative; }

.watercycle-container {
  position: relative;
  background-size: 1024px 768px;
  height: 768px; }

.watercycle-header {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap; }
  .watercycle-header h1 {
    padding-left: 20px;
    display: inline-block; }
  .watercycle-header p {
    padding-left: 77px; }

.watercycle-footer {
  position: absolute;
  bottom: 50px;
  right: 75px; }

.draggable-widget {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  position: absolute;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  width: 200px;
  font-size: 18px;
  z-index: 999; }

.draggable-widget-content {
  margin: 0; }

.droppable-widget {
  border: 2px dashed #777777;
  position: absolute;
  width: 200px;
  height: 41px; }

.draggable-widget[data-vocab="1"] {
  top: 350px;
  right: 150px; }

.droppable-widget[data-vocab="1"] {
  top: 250px;
  left: 250px; }

.draggable-widget[data-vocab="2"] {
  top: 300px;
  right: 150px; }

.droppable-widget[data-vocab="2"] {
  top: 175px;
  right: 500px; }

.draggable-widget[data-vocab="3"] {
  top: 250px;
  right: 150px; }

.droppable-widget[data-vocab="3"] {
  top: 400px;
  left: 150px; }

.draggable-widget[data-vocab="4"] {
  top: 150px;
  right: 150px; }

.droppable-widget[data-vocab="4"] {
  bottom: 100px;
  right: 500px; }

.draggable-widget[data-vocab="5"] {
  bottom: 200px;
  right: 150px; }

.droppable-widget[data-vocab="5"] {
  bottom: 200px;
  left: 50px; }

.draggable-widget[data-vocab="6"] {
  top: 100px;
  right: 150px; }

.droppable-widget[data-vocab="6"] {
  bottom: 200px;
  left: 300px; }

.draggable-widget[data-vocab="7"] {
  top: 50px;
  right: 150px; }

.droppable-widget[data-vocab="7"] {
  bottom: 300px;
  right: 350px; }

.testing {
  background-color: #ff0055; }

.wateruse-container {
  position: relative;
  background-size: 1024px 768px;
  height: 768px;
  background-color: #123456; }

.wateruse-header {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap; }
  .wateruse-header h1 {
    padding-left: 20px;
    display: inline-block; }
  .wateruse-header p {
    padding-left: 77px; }

.wateruse-footer {
  position: absolute;
  bottom: 50px;
  right: 75px; }

.wateruse-form {
  width: 275px;
  background-color: rgba(81, 81, 81, 0.7);
  padding: 20px;
  border-radius: 7px; }

.wateruse-form-heading {
  color: #f1f2f2;
  font-size: 18px;
  margin-bottom: 30px; }

.wateruse-input {
  margin-bottom: 15px;
  border-radius: 0;
  font-size: 16px; }

.form-1 {
  position: absolute;
  top: 300px;
  left: 50px; }

.form-2 {
  position: absolute;
  top: 175px;
  left: 375px; }

.form-3 {
  position: absolute;
  top: 300px;
  right: 50px; }

/*# sourceMappingURL=main.css.map */
