.modal-content-intro, .modal-content-completion {
	text-align: center;
	background-color: rgba(100, 100, 100, 0.5);
	color: #f1f2f2;
}

.modal-backdrop {
   background-color: #dedede;
}

.modal-lg {
	width: 1024px;
}