.modal-content-intro, .modal-content-completion {
	text-align: center;
	background-color: rgba(25, 25, 25, 0.25);
	color: #f1f2f2;
	height: 100vh;
}

.modal-intro-dialog {
	margin: 0;
}

.modal-content-intro {
	background-color: transparent;
	margin: 0;
	padding: 0;
}

.modal-intro-image {
	height: 768px;
	width: 1024px;
}


.modal-intro-content-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	a {
		font-size: 24px;
		font-family: $bebas;
		.right-arrow {
			width: 30px;
			position: relative;
		}
		&:hover, &:active, &:focus, &:active:focus {
			position: relative;
			transition: $transition;
			color: $white;
			.right-arrow {
				left: 5px;
			}
		}
	}
}

.modal-completion-logo {
	margin-bottom: 80px;
	margin-top: 65px;
}

.modal-intro-title {
	font-size: 62px;
	margin-bottom: 0;
}

.modal-completion-subtitle {
	margin-top: 30px;
	margin-bottom: 50px;
}

.modal-completion-text {
	padding-left: 30px;
	padding-right: 30px;
	font-size: 20px;
	font-family: $opensans_light;
}

.modal-completion-instructions {
	font-family: $opensans_italic;
	font-weight: 700;
	font-size: 20px;
	margin-top: 40px;
}

.modal-backdrop {
   background-color: $blue;
}

.modal-lg {
	width: 1024px;
	height: 768px;
}