section {
	padding: 60px 0;
}

a {
	text-decoration: none;
	color: $black;
	&:hover {
		text-decoration: none;
	}
}

.page-icon {
	height: 55px;
	width: 55px;
	background-color: #777777;
	border-radius: 50%;
	display: inline-block;
}

.right-arrow {
	width: 20px;
}

