section {
	padding: 60px 0;
}

a {
	text-decoration: none;
	color: $white;
	&:hover {
		text-decoration: none;
	}
}

.page-icon {
	height: 80px;
	width: 80px;
	display: inline-block;
	border-radius: 50%;
	box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
}

.right-arrow {
	width: 20px;
	margin-left: 12px;
	margin-bottom: 3px;
	fill: $white;
}

h1, h2, h3 {
	font-family: $bebas;
}

h4, h5, h6, p {
	font-family: $opensans_regular;
}

footer {
	position: relative;
}