@mixin game-header {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 20px;
	margin-left: 20px;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	h1 {
		display: inline-block;
		margin-top: 0;
		font-size: 32px;
	}
	p {
		font-style: italic;
		font-size: 18px;
	}
	.page-title {
		display: inline-block;
		margin-left: 20px;
	}
	.homepage-page-title {
		display: inline-block;
		padding-top: 15px;
	}
}

@mixin game-container {
	position: relative;
	background-size: 1024px 768px;	
	height: 768px;
	background-repeat: no-repeat;
	background-position: center center;
}


@mixin crossword-letter {
	font-size: 24px;
	text-align: center;
	text-transform: uppercase;
}
