@mixin game-header {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 10px;
	margin-left: 10px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	h1 {
		padding-left: 20px;
		display: inline-block;
	}
	p {
		padding-left: 77px;
	}
}

@mixin crossword-letter {
	font-size: 24px;
	text-align: center;
	text-transform: uppercase;
}
