@mixin game-header {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 20px;
	margin-left: 20px;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	h1 {
		display: inline-block;
		margin-top: 0;
		font-size: 32px;
	}
	p {
		font-style: italic;
	}
	.page-title {
		display: inline-block;
		margin-left: 20px;
	}
}

@mixin crossword-letter {
	font-size: 24px;
	text-align: center;
	text-transform: uppercase;
}
