$black: #212121;
$white: #f1f2f2;

$bebas: 'bebas', Helvetica, Arial, sans-serif;
$opensans_regular: 'opensans_regular', Helvetica, Arial, sans-serif;
$opensans_light: 'opensans_light', Helvetica, Arial, sans-serif;

$transition: all 0.25s ease-in-out;