body {
	width: 1024px;
	height: 768px;
}

.crossword-container {
	@include game-container();
	background-image: url(../img/background-activity-01@2x.png);
}

.crossword-header {
	@include game-header();
}

.crossword-footer {
	position: absolute;
	bottom: 40px;
	right: 20px;	
}

.crossword-clue-container-across {
	margin-right: 7px;
	//margin-left: 4px;
}


.crosswordModal {
	position: absolute;
	top: 200;
	left: 200;
}

.crossword-clue-1 {
	position: absolute;
	top: 101px;
	right: 322px;
}

.crossword-clue-2 {
	position: absolute;
	top: 146px;
	right: 82px;
}


.crossword-clue-3 {
	position: absolute;
	top: 191px;
	left: 188px;
}

.crossword-clue-4 {
	position: absolute;
	top: 191px;
	right: 457px;
}

.crossword-clue-5 {
	position: absolute;
	top: 236px;
	left: 365px;
}

.crossword-clue-6 {
	position: absolute;
	top: 281px;
	left: 310px;
}

.crossword-clue-7 {
	position: absolute;
	top: 281px;
	left: 455px;
}

.crossword-clue-8 {
	position: absolute;
	top: 371px;
	left: 177px;
}

.crossword-clue-9 {
	position: absolute;
	top: 371px;
	right: 269px;
}

.crossword-clue-10 {
	position: absolute;
	left: 87px;
	bottom: 138px;
}

.crossword-clue-11 {
	position: absolute;
	right: 179px;
	top: 596px;
}


.crossword-down {
	width: 24px;
}

.crossword-letter-across {
	@include crossword-letter;
	display: inline-block;
	margin: 0px;
	width: 41px; //try doing this to make the spacing between characters even
	padding: 0;
}

.crossword-letter-down {
	@include crossword-letter;
	padding: 0;
	margin: 0;
	height: 45px;
}

// .modal-data {
// 	visibility: hidden;
// }

.answer {
	visibility: hidden;
}

.crossword-clue-hidden {
	margin-left: -5000px;
}

.tooltip.top {
	margin-top: -14px;
}

.tooltip.left {
	margin-left: -14px;
}

.tooltip.right {
	margin-left: 15px;
}

.tooltip {
	font-size: 18px;
	font-family: $opensans_regular;
	&:hover {
		animation: pulse 1s;
	}
}

.tooltip.right .tooltip-arrow {
	top: 50% !important;
}

.tooltip-inner {
	border-radius: 0px;
}

.tooltip-correct {
	background-color: $green;
}

.tooltip-right-arrow-correct {
	border-right-color: $green !important;
}

.tooltip-top-arrow-correct {
	border-top-color: $green !important;
}

.tooltip-left-arrow-correct {
	border-left-color: $green !important;
}

.shared-letter{
	color: transparent;
}

.trivia-icon {
	width: 15px;
	position: absolute;
	right: 15px;
	margin-top: 3px;
}

.wide-letter {
	position: relative;
	left: 3px;
}

.adjustment1 {
	position: relative;
	left: 2px;
}

