.crossword-container {
	position: relative;
	background-image: url(../img/activity-01-background@2x.jpg);
	background-size: 1024px 768px;	
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
}

.crossword-header {
	@include game-header();
}

.crossword-footer {
	position: absolute;
	bottom: 50px;
	right: 75px;	
}


