
.map-container {
	position: relative;
	background-image: url(../img/index-background@2x.jpg);
	background-size: 1024px 768px;	
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
}

.magic-button {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1500;
}


// map buttons
.game-btn {
	height: 55px;
	width: 55px;
	border-radius: 50%;
	background-color: red;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
}

.game-btn-waiting {
	background-color: red;
	&:hover {
		background-color: white;
		color: #ff6666;
		border: 2px solid red;
	}
}

.game-btn-complete {
	background-color: green;
	&:hover {
		background-color: white;
		color: green;
		border: 2px solid green;
	}
}

.btn-1 {
	top: 370;
	right: 150;
}

.btn-2 {
	top: 370;
	right: 267;
}

.btn-3 {
	top: 370;
	right: 450;
}

.btn-4 {
	top: 315;
	left: 350;
}

.btn-5 {
	top: 220;
	left: 200;
}