
.map-container {
	position: relative;
	background-image: url(../img/background-map@2x.png);
	background-size: 1024px 768px;	
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
}

.magic-button {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1500;
	padding: 25px;
    color: transparent;
    background-color: transparent;
    border-color: transparent;
}



// map buttons
.homepage-game-icon, .homepage-complete-icon {
	width: 55px;
	position: absolute;
}

.homepage-complete-icon {
	opacity: 0.8;
}

.game-btn {
	height: 55px;
	width: 55px;
	border-radius: 50%;
	box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.50);
	color: white;
	position: absolute;
	transition: $transition;
}

.game-btn-waiting {
	&:hover {
		background-color: white;
		box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.90);
	 }
}

.game-btn-complete {
	background-color: $green;
}

.btn-1 {
	top: 370;
	right: 150;	
}


.btn-2 {
	top: 370;
	right: 267;
}

.btn-3 {
	top: 370;
	right: 450;
}

.btn-4 {
	top: 315;
	left: 350;
}

.btn-5 {
	top: 220;
	left: 200;
}

.progress-meter {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	position: absolute;
	bottom: 20px;
	left: 20px;
	background-size: 150px 150px;
	background-position: center center;
}

.progress-meter-icon {
	width: 150px;
}

.progress-meter[data-score="0"] {
	background-image: url(../img/progress/progress-00@2x.png);
}

.progress-meter[data-score="1"] {
	background-image: url(../img/progress/progress-01@2x.png);
}

.progress-meter[data-score="2"] {
	background-image: url(../img/progress/progress-02@2x.png);
}

.progress-meter[data-score="3"] {
	background-image: url(../img/progress/progress-03@2x.png);
}


.progress-meter[data-score="4"] {
	background-image: url(../img/progress/progress-04@2x.png);

}

.progress-meter[data-score="5"] {
	background-image: url(../img/progress/progress-05@2x.png);
	animation: tada 1s;
}

