
.map-container {
	position: relative;
	background-image: url(../img/background-map@2x.png);
	background-size: 1024px 768px;	
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;

}

.magic-button {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1500;
}



// map buttons
.homepage-game-icon, .homepage-complete-icon {
	width: 57px;
}

.game-btn {
	height: 55px;
	width: 55px;
	border-radius: 50%;
	box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.50);
	background-color: red;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	transition: $transition;
}

.game-btn-waiting {
	&:hover {
		background-color: white;
		box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.90);
	}
}

.game-btn-complete {
	background-color: green;
	&:hover {
		background-color: white;
		color: green;
		border: 2px solid green;
	}
}

.btn-1 {
	top: 370;
	right: 150;	
}

.btn-2 {
	top: 370;
	right: 267;
}

.btn-3 {
	top: 370;
	right: 450;
}

.btn-4 {
	top: 315;
	left: 350;
}

.btn-5 {
	top: 220;
	left: 200;
}

.progress-meter {
	height: 75px;
	width: 75px;
	border-radius: 50%;
	background-color: #123456;
	position: absolute;
	bottom: 50px;
	left: 50px;
}

.progress-meter[data-score="1"] {
	background-image:
	linear-gradient(162deg, transparent 50%, white 50%),
    linear-gradient(90deg, white 50%, transparent 50%);
}

.progress-meter[data-score="2"] {
	background-image: 
	linear-gradient(234deg, transparent 50%, white 50%),
    linear-gradient(90deg, white 50%, transparent 50%);
}

.progress-meter[data-score="3"] {
	background-image:
        linear-gradient(144deg, transparent 50%, #123456 50%),
        linear-gradient(90deg, white 50%, transparent 50%);
}


.progress-meter[data-score="4"] {
	background-image:
        linear-gradient(192deg, transparent 50%, #123456 50%),
        linear-gradient(90deg, white 50%, transparent 50%);

}

.progress-meter[data-score="5"] {
	background-image: none;
}




.progress-meter[data-score="0"] {
	background-image:
	linear-gradient(90deg, transparent 50%, white 50%),
    linear-gradient(90deg, white 50%, transparent 50%);
}