.watercycle-container {
	height: 768px;
	position: relative;
	background-image: url(../img/background-activity-02@2x.png);
	background-size: 1024px 768px;
	background-repeat: no-repeat;
	background-position: center center;
}

// .watercycle-container {
// 	position: relative;
// 	background-size: 1024px 768px;
// 	height: 768px;
// }

.watercycle-header {
	@include game-header();
}

.watercycle-footer {
	position: absolute;
	bottom: 25px;
	right: 35px;
}

.draggable-widget {
	box-shadow: 0px 3px 7px rgba(0,0,0, 0.35);
	background-color: $white;
	position: absolute;
	right: 25px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 7px 14px;
	width: 160px;
	font-size: 16px;
	z-index: 999;
}

.draggable-widget-content {
	margin: 0;
}

.droppable-widget {
	border: 2px dotted #777777;
	position: absolute;
	width: 160px;
	height: 36px;
}



.draggable-widget[data-vocab="1"] {
	top: 150px;
}

.droppable-widget[data-vocab="1"] {
	top: 399px;
	right: 222px;
}

.draggable-widget[data-vocab="2"] {
	top: 200px;
}

.droppable-widget[data-vocab="2"] {
	top: 50px;
	right: 95px;
}

.draggable-widget[data-vocab="3"] {
	top: 250px;
}

.droppable-widget[data-vocab="3"] {
	top: 183px;
	right: 432px;
}

.draggable-widget[data-vocab="4"] {
	top: 300px;
}

.droppable-widget[data-vocab="4"] {
	bottom: 15px;
	left: 470px;
}

.draggable-widget[data-vocab="5"] {
	top: 350px;
}

.droppable-widget[data-vocab="5"] {
	top: 336px;
	right: 403px;
}

.draggable-widget[data-vocab="6"] {
	top: 400px;
}

.droppable-widget[data-vocab="6"] {
	top: 440px;
	left: 262px;
}

.draggable-widget[data-vocab="7"] {
	top: 450px;
}

.droppable-widget[data-vocab="7"] {
	bottom: 123px;
	right: 230px;
}
.testing {
	background-color: #ff0055;;
}

.watercycle-icon {
	width: 13px;
}

.icon-correct {
	fill: green;
}

.hidden {
	visibility: hidden;
}