.wateruse-container {
	height: 768px;
	position: relative;
	background-size: 1024px 768px;
	background-image: url(../img/background-activity-03@2x.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.wateruse-header {
	@include game-header();
}

.wateruse-footer {
	position: absolute;
	bottom: 40px;
	right: 20px;
}

.wateruse-form {
	width: 275px;
	background-color: rgba(81, 81, 81, 0.7);
	padding: 22px;
	border-radius: 7px;
}


.wateruse-form-heading {
	color: $white;
	font-size: 17px;
	margin-bottom: 30px;
}

.wateruse-input {
	margin-bottom: 15px;
	border-radius: 0;
	font-size: 16px;
	box-shadow: none;
	border: none;
}


.form-1 {
	position: absolute;
	top: 227px;
	left: 50px;
}

.form-2 {
	position: absolute;
	top: 137px;
	left: 375px;
}

.form-3 {
	position: absolute;
	top: 227px;
	right: 50px;
}